
$brand-text-color: #4A4A4A;
$brand-font-family-logotype: 'Raleway', sans-serif;
$brand-font-weight-logotype: 200;
$brand-font-family-header: 'adelle', serif;
$brand-font-weight-header: 400;
$brand-font-weight-header-bold: 600;
// TODO add 700 weight and change above
$brand-font-family-body: 'Open Sans', sans-serif;

// tokens above

@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
//
// @include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


.hero {
  background-image: url('../img/hero-image@2x.jpg');

  // TODO: adjust breakpoints
  @include breakpoint(small) {
    background-position: center top;
    background-size: auto 100%;
    padding-top: 110px;
  }
  @include breakpoint(xlarge up) {
    background-position: 0% 20%;
    background-size: 100% auto;
    padding-top: 110px;
  }
  padding-left: 25px;
  padding-right: 25px;
  height: 630px;

  background-repeat: no-repeat;
  margin-bottom: 50px;
  h1 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  }

}

.large-header, .hero h1, h2 {
  // font-size: 40px;
  letter-spacing: 0;
  // line-height: 48px;
  margin-bottom: 50px;
  font-weight: $brand-font-weight-header;
  strong {
    font-weight: $brand-font-weight-header-bold;
  }

}

.testimonial, .attention {
  font-family: $brand-font-family-header;
  font-weight: $brand-font-weight-header;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}
.testimonial strong {
  font-weight: $brand-font-weight-header-bold;
}

.attention {
  text-align: center;
  font-weight: $brand-font-weight-header-bold;
  &.boxed {
    border: dashed 2px lighten($brand-text-color, 55%);
    border-radius: 12px;
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

ul.attention {
  list-style-position: inside;
  span {
    position: relative;
    top: -1px;
    margin-left: -14px;
    margin-right: -14px;
  }
}

.logotype {
  font-family: $brand-font-family-logotype;
  font-weight: $brand-font-weight-logotype;
  font-size: 36px;
  color: $brand-text-color;
  letter-spacing: 2px;
}

header {
  margin: 20px;
  .menu {
    float: right;
    margin-top: 15px;
    li {
      margin-left: 30px;
      margin-right: 30px;
    }
    li:nth-last-child(1) { margin-right: 0; }
    li:nth-first-child(1) { margin-left: 0; }
    a  {
      font-family: $brand-font-family-header;
      font-size: 16px;
      color: $brand-text-color;
      letter-spacing: 0.78px;
    }
  }
}

hr {
  padding-top: 50px;
  padding-bottom: 50px;
  border-color: none;
  border: none;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(90deg, rgba(#FAD961, 0.0) 0%, #FAD961 20%, #F76B1C 40%, #F76B1C 60%, #FAD961 80%, rgba(#FAD961, 0.0) 100%);
    padding-bottom: 1px;
    width: 100%;
  }
}

.button {
  @include breakpoint (small only) {
    font-size: 16px;
    line-height: 22px;
  }
  @include breakpoint (medium up) {
    padding-left: 75px;
    padding-right: 75px;
    font-size: 20px;
    line-height: 24px;
  }
  font-family: $brand-font-family-header;
  font-weight: $brand-font-weight-header-bold;
  color: #FFFFFF;
  letter-spacing: 0;
  text-shadow: 0 1px 3px rgba(70,71,69,0.30);
  background-image: linear-gradient(0deg, #FFA200 0%, #FF6900 100%);
  border: 1px solid #FF6900;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  border-radius: 8px;
  margin-bottom: 0;
  margin-top: 10px;
  transition: all 1s;
  &:hover {
    background-image: linear-gradient(0deg, #FFA200 0%, #FF6900 100%);
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.4);
    text-shadow: 0 1px 3px rgba(70,71,69,0.5);
  }
}

.price {
  text-align: center;
  font-family: $brand-font-family-header;
  font-weight: $brand-font-weight-header-bold;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
  // margin-bottom: 0;
}

.flush-bottom {
  margin-bottom: 0;
}

.rounded {
  border-radius: 9999px;
}

.testimonial-media {
  margin-top: 25px;
  img {
    height: 60px;
    width: 60px;
  }
}
.testimonial-copy {
  margin-top: 5px;
}